<div class="sliders">
  <script type="text/x-handlebars">
  {{view Sliders.CreateSliderView elementId="new-slider"}}
  
  {{#collection contentBinding="Sliders.slidersController" tagName="ul" }}
     {{content.name}} - 
     {{content.timezone}}
  {{else}}
    Empty
  {{/collection}}
  </script>
</div>

