<script type="text/x-handlebars">
{{view Sliders.NewSliderView elementId="new-slider"}}
<div class="content">
  {{#collection Sliders.SlidersView class="sliders" itemClass="slider"}}
    {{view Sliders.SliderView}}
  {{else}}
    Empty
  {{/collection}}
</div>
</script>

