<div class="content">
  <div class="tagline">
    
  </div>
  <div class="right">
    <button id="new_slider_button" {{action createSlider}}></button>
    {{view Sliders.TimeZoneAutoComplete placeholder="CITI / LOCATION" valueBinding="location" class="new_slider_input"}}
    {{view Ember.TextField placeholder="FRIENDS NAME" valueBinding="name" class="new_slider_input"}}
  </div>
</div>
