<div class="frame">
  <div class="ruler">
    {{view Sliders.CurrentTimeSliderView}}
    {{view Sliders.RemoteTimeSliderView}}
  </div>
</div>
{{#collection class="hours" contentBinding="hours" itemTagName="div"}}
  <span>{{content}}</span>
{{/collection}}
