body {
  margin: 0px;
  padding: 0px;
  background: url("timezoneslider_bg.png") 0 0 repeat;
}

menu {
  background: url("header_tile.png");
  height: 92px;
  margin: 0px;
  padding: 0px;
  h1 {
    margin: 18px 0 0 17px;
    padding: 0;
    float: left;
    a {
      display: block;
      background: url("timezoneslider_logo.png") 0 0 no-repeat;
      width: 230px;
      height: 25px;
      span {
        display: none;
      }
    }
  }
}

.content {
  width: 960px;
  margin: 0 auto;
}
