body {
  margin: 0px;
  padding: 0px;
  background: url("timezoneslider_bg.png") 0 0 repeat;
}

menu {
  background: url("header_tile.png");
  height: 92px;
  margin: 0px;
  padding: 0px;
  h1 {
    margin: 18px 0 0 17px;
    padding: 0;
    float: left;
    a {
      display: block;
      background: url("timezoneslider_logo.png") 0 0 no-repeat;
      width: 230px;
      height: 25px;
      span {
        display: none;
      }
    }
  }
  .timezoneslider_tagline {
    background: url("timezoneslider_tagline.png") 0 0 no-repeat;
    width: 191px;
    height: 25px;
    float: left;
    margin-top: 20px;
  }
  .header_legend {
    background: url("header_legend.png") 0 0 no-repeat;
    width: 320px;
    height: 60px;
    float: right;
  }
}

.content {
  width: 960px;
  margin: 0 auto;
}

.ui-autocomplete {
  z-index: 300 !important;
}
