body {
  margin: 0px;
  padding: 0px;
  background: url("timezoneslider_bg.png") 0 0 repeat;
  height: 100%;
}

a {
  outline: 0;
}

menu {
  background: url("header_tile.png");
  height: 60px;
  margin: 0px;
  padding: 0px;
  h1 {
    margin: 18px 0 0 50px;
    padding: 0;
    float: left;
    a {
      display: block;
      background: url("timezoneslider_logo.png") 0 0 no-repeat;
      width: 230px;
      height: 25px;
      span {
        display: none;
      }
    }
  }

  .header_legend {
    background: url("header_legend.png") 0 0 no-repeat;
    width: 320px;
    height: 60px;
    float: right;
    margin-right: 40px;
  }
}

.core {
  margin: 0 auto 150px;
}

footer {
  position: fixed;
  bottom: 0px;
  height: 60px;
  width: 100%;
  background-color: #121212;
  z-index: 1000;
}

#footer {
  margin: 25px 50px;
  font-family: arial;
  font-size: 12px; 
  color: #909090;
  
  #copyrights {
    float: left;
  }
  
  #paypal {
    float: left;
    margin-left: 40px;
    position: relative;
    top: -5px;
  }
  
  #plasmiq {
    float: right;
    position: relative;
    top: -15px;
    display: block;
    background: url("powered_by_plasmiq.png");
    width: 151px;
    height: 39px;
  }
}

.content {
  width: 960px;
  margin: 0 auto;
}

.ui-autocomplete {
  z-index: 300 !important;
}
