// Place all the styles related to the sliders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-slider {
  background: url("header_utility_tile.png") repeat-x;
  height: 43px;
  .tagline {
    float: left;
    margin-left: 50px;
    margin-top: 15px;
    width: 352px;
    height: 17px;
    background: url("timezoneslider_tagline.png") 0 0 no-repeat;
  }
  .right {
    float: right;
    margin-right: 50px;
  }
  #new_slider_button {
    background: url("header_utility_add_button.png") no-repeat;
    height: 23px;
    width: 23px;
    border: 0px;
    padding: 0px;
    margin: 10px 0px 0px 10px;
    float: right;
    display: block;
    &:hover {
      background-position: -23px 0;
    }
  }
 
  .new_slider_input::-webkit-input-placeholder  { color: #707070; }
  .new_slider_input:-moz-placeholder { color: #707070; }
  
  .new_slider_input {
    float: right;
    display: block;
    width: 201px;
    height: 20px;
    background: url("header_utility_inputs.png") no-repeat;
    border: 0px;
    padding: 2px 5px;
    margin: 10px  0 0 10px;
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight: 600;
    color: #000000;
  }
  .new_slider_input.city_autocomplete {
    background-position: 0 -24px;
    width: 180px;
    padding-right: 26px;
  }
  .new_slider_input:-moz-placeholder {
    color: #707070;
  }
}
