.slider {
  width: 890px;
  height: 100px;
  margin: 15px auto 0 auto;
  position: relative;
  overflow: hidden;

  &.color1 {
    .ok .left, .ok .right{ 
      background-image: url("slider_blue.png") !important;
    }
  }

  &.color2 {
    .ok .left, .ok .right{ 
      background-image: url("slider_orange.png") !important;
    }
  }

  &.color3 {
    .ok .left, .ok .right{ 
      background-image: url("slider_pink.png") !important;
    }
  }

  .topBar {
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 0 #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: black;
    .name {
      float: left;
      margin: 10px 0 0 61px;
      position: relative;
      button {
        cursor: pointer;
      }
      input, button {
        position: absolute;
        width: 13px;
        height: 13px;
        left: -30px;
        top: 3px;
        background: url("panel_delete.png");
        border: 0px;
        display: block;
      }
    }
    .currentTimeNotifier {
      margin: 10px 61px 0 0;
      float: right;
      text-transform: uppercase;
      .time {
        margin-left: 10px;
        font-size: 16px;
        color: #c20303;
        .invisible {
          -moz-opacity: 0.00;
          -khtml-opacity: 0.00;
          opacity: 0.00;
          -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
          filter: alpha(opacity=0);
        }
        .ampm {
          font-size: 12px;
          text-transform: uppercase;
        }
      }
      .date {
        margin-left: 10px;
        font-size: 12px;
        color: #615144;
        text-transform: uppercase;
      }
    }
    .currentTimeNotifier.remote {
      .time {
        color: #009353;
      }
    }
  }
  .bottomBar{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    background: url("panel_background.png") 0 0 no-repeat;
    height: 58px;
    .currentTimeSlider, .remoteTimeSlider {
      cursor: pointer;
      font-family: 'Open Sans', sans-serif; 
      font-weight: bold;
      font-size: 11px;
      color: white;
      text-align: center;
      width: 19px;
      height: 39px;
      position: absolute;
      z-index: 100;
      top: 0px;
      background: url("time_indicators.png");
      padding-top: 3px;
      &.remoteTimeSlider {
        background-position: -19px 0px;
      }
      &.hidden {
        display: none;
      }
      div {
        text-align: center;
      }
    }
    
    .timeline {
      cursor: pointer;
      margin: 0 auto;
      width: 768px;
      &.halfhour {
        .hours {
          position: relative;
          left: -16px;
          width: 768px + 32px; /* + 32px of additional hour "-" */
        }
        .ruler { 
          background-position: -16px 10px !important;
        }
      }
      .frame {
        .ruler {
          height: 25px;
          padding-top: 10px;
          background: url("panel_ruler_768.png") transparent 0px 10px repeat-x;
          cursor: pointer;
        }
      }
      .availability {
        display: block;
        position: absolute;
        top: 10px;
        height: 25px;
        width: 800px;
        left: 61px;
        .hour {
          float: left;
          z-index: 20;
          .left, .right{ 
            float: left;
            height: 25px;
            
          }
          .left {
            padding-left: 1px;
            width: 15px;
            border-right: 1px solid transparent;  
          }
          .right {
            width: 15px;
          }
        }
        .ok {
          & .left, & .right {
            background: url("slider_green.png") repeat-x;
          }
          & .left {
            border-right: 1px solid white;  
          }
        }
      }
      .hours {
        z-index: 10;
        cursor: pointer;
        table {
          float: left;
          font-size: 12px;
          font-family: Arial;
          font-weight: bold;
          width: 20px;
          text-align: center;
          position: relative;
          top: -25px;
          height: 52px;
          margin: 0 6px;
          td {
            padding-bottom: 3px;
            vertical-align: bottom;
          }
          td.midnight {
            background-color: black;
            color: white;
            z-index: 1;
          }
        }
      }
    }
  }
}
