.slider {

  width: 890px;
  margin: 20px auto;
  position: relative;
  .topBar {
    height: 40px;
    .name {
      float: left;
    }
    .currentTimeNotifier {
      padding: 10px 20px 0 0;
      font-family: 'Open Sans'; 
      font-weight: bold;
      font-size: 12px;
      float: right;
      color: #c20303;
    }
  }
  .bottomBar{
    position: relative;
    background: url("panel_background.png") 0 0 no-repeat;
    height: 58px;
    .currentTimeSlider, .remoteTimeSlider {
      font-family: 'Open Sans'; 
      font-weight: bold;
      font-size: 12px;
      font-size: 9px;
      color: white;
      text-align: center;
      width: 19px;
      height: 42px;
      position: absolute;
      z-index: 100;
      top: 0px;
      background: url("time_indicators.png");
      &.remoteTimeSlider {
        background-position: -19px 0px;
      }
    }
    
    .timeline {
      position: absolute;
      top: 10px;
      left: 50px;
      width: 790px;
      height: 25px;
      
      .frame {
        overflow: hidden;
        height: inherit;
        width: inherit;
        .ruler {
          height: inherit;
          width: inherit;
          background: url("panel_ruler.png") 0 0 repeat-x;  
          background-position: 50px 0px;
          cursor: pointer;
          .phased {
            background-position: 0px 0px;
          } 
        }
      }
      .hours {
        width: 792px;
        div {
          float: left;
          font-size: 12px;
          font-family: Arial;
          font-weight: bold;
          width: 33px;
          text-align: center;
          &.midnight {
            span {
              background-color: black;
              color: white;
              display: inline-block;
              padding: 30px 5px 10px;
              top: -30px;
              position: relative;
            }
          }
        }
      }
    }
  }
}
